body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1, h2 {
  color: #333366;
}

p, ul {
  color: #666666;
}

nav {
  margin-bottom: 50px;
}

nav .nav-link {
  color: white;
  transition: color 0.3s ease-in-out;
}

nav .nav-link:hover {
  color: #FFD700; /* Gold color on hover */
  text-decoration: none;
}

section {
  padding: 20px;
  border-radius: 5px;
  background: #f8f9fa;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

section:hover {
  transform: translateY(-10px); /* Small lift on hover */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #333366; /* Dark background for footer */
  color: white; /* White text for footer */
}

footer p {
  margin: 0;
  padding: 10px;
}
