
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #666;
  }
  
  section {
    padding: 50px;
  }
  
  section h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #333;
  }
    a:hover {
        text-decoration: none;
      }
      
      form label {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
      }
      
      form input,
      form textarea {
        border: none;
        border-radius: 5px;
        font-size: 18px;
        padding: 10px;
        width: 100%;
        margin-bottom: 20px;
      }
      
      form input[type="submit"] {
        background-color: #333;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        padding: 10px;
        width: auto;
      }
      
      form input[type="submit"]:hover {
        background-color: #666;
      }
      

